*.d
*.dylib
*.ntf
*.o
*.so
*~
.*.swp
.ipynb_checkpoints
__pycache__
a.out
gimp_j2k
junk.c
mamj2k
j2k_parser
j2k_parser.dSYM
rd_to_j2k
rd_to_j2k.dSYM
read_j2k
read_j2k.dSYM
ubuntu
write_j2k
write_j2k.dSYM
openjpeg*/build
